* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#app {
    max-width: 800px;
    margin: auto;
}

#receipt table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

#receipt th, #receipt td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

#receipt tr:nth-child(even) {
   background-color: #f2f2f2;
}

#receipt .total {
    padding: 20px 20px;
    text-align: right;
    text-transform: uppercase;
    font-weight: 700;
}

button {
    padding: 5px 20px;
    background-color: #111;
    color: #f2f2f2;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #333;
}

dialog {
    border: solid 1px #ccc;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

dialog input {
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
}

dialog label {
    margin-bottom: 10px;
}

dialog div {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
